.timetable-container {
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  max-width: 1600px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
}

.timetable-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #000000;
}

.filter-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-container select {
  padding: 8px;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%;
  outline: none;
  transition: border-color 0.2s;
  cursor: pointer;
}

.filter-container select:focus {
  border-color: #007bff;
}

.filter-container button {
  padding: 10px 20px;
  font-size: 16px;
  width: 10%;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.filter-container button:hover {
  background-color: #0056b3;
}

.timetable-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.timetable-table th {
  background-color: #f2f2f2;
  font-size: 1.4rem;
  font-weight: 400;
}
.result-table td {
  background-color: #ffffff;
  font-weight: 400;
  
}
.result-table td :hover {
  background-color: #007bff;
}
.result-table tr:hover {
  color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.result-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: left;
}

.result-table th, .result-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 1.4rem;
}
/* Null value style */
.Null_value td {
  text-align: center;
  font-size: 1.6rem;
  color: #888;
  font-style: italic;
  
}

.filter-container input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%;
  outline: none;
  transition: border-color 0.3s;
}

.filter-container input:focus {
  border-color: #007bff;
}
